@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

body, html
{
	height: 100%;
}

body 
{
        background-size: 20%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-image: url("/clubhub/media/graph_light.png");
	font-family: 'Roboto', serif;
	font-weight: 300;
	font-size: 1em;
	margin: 0%;
	padding: 0%;
}

h1, h2 
{
	font-family: 'Roboto Slab', serif;
}

#main-body
{
	width: 100%;
	height: 100%;
}

.body-box 
{
	margin: 0% 5% 5% 5%;
	/*background-color: rgba(255, 255, 255,1);*/
	/*background-image: url("/clubhub/media/paper.jpg");*/
	background-image: url("/clubhub/media/texturedwhite.jpg");
	background-color: white;
	background-size: 100%;
	background-repeat: repeat;
	padding: 1% 2%;
	border: 1px solid rgb(200,200,200);
	box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.3),
	        -0.2em 0.2em 0.2em rgba(0,0,0,0.3);
	border-radius: 2px;
	position: relative;
	z-index: 2;
}

.body-box-clear 
{
	margin: 2% 10%;
	padding: 2%;
}

.protip
{
        width: 100%;
        margin: 0% 0% 1% 0%;
        height: 3em;
        background-color: rgba(255,100,100, 0.3);
        border-bottom: 2px solid rgb(200,50,50);
        color: rgb(200,50,50);
        border-radius: 5px;
}

.protip.protip-green
{
        background-color: rgba(0, 182, 57, 0.3);
        border-bottom: 2px solid rgb(0, 100, 57);
        color: rgb(0, 100, 57);
}

.protip.protip-clear
{
        background-color: none;
        border: none;
        color: black;
}

.protip p, .protip a
{
        color: inherit;
        text-align: center;
        padding: 1em 0;
}

.protip a:hover
{
        font-style: bold;
}

.footer 
{
        clear: both;
        background-color: black;
        /*background-image: url("/clubhub/media/chalk.jpg");*/
        margin-top: 5%;
        padding: 2% 12%;
        box-shadow: 0.2em -0.2em 0.2em rgba(0,0,0,0.2);
        
}

img.footer-logo {
        width: 5%;
        height: auto;
        vertical-align: bottom;
}

footer 
{
	color: white;
}

.branding-box 
{
	margin: 3% 5% 2% 5%;
	clear: both;
}

.branding-box img
{
	vertical-align: middle;
	padding-right: 2%;
	/*border-right: 2px solid rgb(220,220,220);*/
}

.branding-box h1
{
	font-family: "Roboto", sans-serif;
	font-size: 2em;
	font-weight: 300;
	color: rgb(100,100,100);
	vertical-align: middle;
	padding-left: 2%;
	display: inline-block;
	position: relative;
	/*left: -10%;*/
	opacity: 1;
}

#club-logo 
{	
	width: 40%;
	height: auto;
}

.menu
{
	position: relative;
	width: 2%;
	margin: 2% 0% 5% 3%;
	padding: 2% 0%;
	float: left;
	z-index: 1;
}

.menu ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}

.menu li
{
	margin: 0% 0% 10% 0%;
	max-width: 100%;
	float: left;
}

.menu a
{
	max-width: 100%;
	overflow: hidden;
}

.menu a:link, .menu a:visited
{
	display: block;
	color: white;
	background-color: none;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

.divider-tab p
{
	color: rgb(128,128,128);
	background-color: none;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.9em;
	margin: 10%;
	height: auto;
	
	/* Safari */
        -webkit-transform: rotate(-90deg);
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.divider-tab
{
        margin: 0% 0% 3% 0% !important;
}


.menu a:hover, .menu a:active
{
	/*background-color: rgb(55,171,200);*/
	background-color: rgba(255,255,255, 0.5);
}

.feed
{
        margin: 2% 2%;
	padding: 2%;
	border: 1px dashed rgb(200,200,200);
}

.feed iframe
{
	display: block;
	border: none;
	width: 100%;
	/*height: 100%;*/
	height: auto;
	seamless: true;
	overflow: scroll;
}

/*.feed .feedtitle
{
        padding: 0px;
        margin: 0px;
}

.feed .feedcontent
{
        float:left;
}

.feed img
{
        float: left;
        margin: 2%;
        max-width: 30%;
}*/

.subtitle
{
        color: rgb(100,100,100);
        font-size: 80%;
        display: inline;
        margin-right: 1em;
}

hr
{
        border-width: 1px;
        border-style: dashed;
        border-color: rgb(55,171,200);
}

.calendar iframe
{
	width: 100%;
	height: auto;
}

.docs
{
        margin: 2% 2%;
        padding 0.5%;
	border: 1px dashed rgb(200,200,200);
}

.docs iframe
{
        width: 100%;
        /*height: 100em;*/
        border: none;
        overflow: visible;
}

.main-outer
{
	width: 100%;
}

.checkbox
{
        padding: 2%;
}

.rotate {
        /* Safari */
        -webkit-transform: rotate(-90deg);
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* Poster Wall Stuff */
.wall
{
	height: 100%;
	text-align: justify;
}

.wall:after
{
	content: "";
	display: block;
	clear: both;
}

/*========================MITEM STYLING==============================*/

.mitem img
{
        max-width: 100%;
        height: auto;
        display: inline-block;
        margin: 0px;
        padding: 0px;
        float: right;
	/*background-color: white;*/
	background-color: none;
	position: relative;
	z-index: 0;
	/*box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid rgba(0,0,0,0.6);*/
}

.mitem img:hover
{
        box-shadow: 0.2em 0.2em 1em rgba(0,0,0,0.3), -0.2em -0.2em 1em rgba(0,0,0,0.3);
        z-index: 2;
}

.mitem
{
        float: left;
	/*position: relative;*/
	/*background-color: white;*/
	background-color: none;
}

.mitem h1
{
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 3;
}

.mitem.mitem-small
{
        width: 150px;
}

.mitem.mitem-small-wide
{
        height: 150px;
}

.mitem.mitem-small-very-wide
{
        width: 320px;
}

.mitem.mitem-medium
{
        width: 240px;
}

.mitem.mitem-medium-wide
{
        height: 240px;
}

.mitem.mitem-medium-very-wide
{
        width: 500px;
}

.mitem.mitem-large
{
        width: 300px;
}

.mitem.mitem-large-wide
{
        height: 300px;
}

.mitem.mitem-large-very-wide
{
        width: 620px;
}

.sorttip
{
        width: 90%;
        margin: 0% 0% 2% 0%;
        height: 3em;
        border-bottom: 2px solid rgba(0,102,255, 0.3);
        clear: both;
}

.sorttip p
{
        font-weight: normal;
}

.clubtip
{
        border-bottom: 3px solid rgba(255, 42, 42, 0.3);
}

.weektip
{
        border-bottom: 3px solid rgba(0, 182, 57, 0.3);
}

/*==========================END MITEM STYLING============================*/

.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.verybigtitle
{
	text-align: center;
	font-size: 4em;
	font-weight: 100;
	/*vertical-align: middle;*/
	color: white;
	margin: auto;
	position: absolute;
	top: -10%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10%;
	width: 100%;
}

#backcover
{
	/*background: url("/imsa-undefined/clubhub/media/Academy.jpg");
	background-size: 100%;
	background-position: center;*/
	width: 100%;
	height: 100%;
	position: relative;
	background: black;
}

#frontcover
{
	background-size: 100%;
	background-position: center;
	opacity: 0;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	right: -5%;
	bottom: -5%;
	position: relative;
}

#backcover h1
{
	z-index: 2;
	opacity: 0;
	background-color: rgba(0,0,0,0.3);
	padding: 5% 0%;
}

#downarrow
{
        position: absolute;
	bottom: -25%;
	left: 0;
	right: 0;
	width: 10%;
	margin: 0 auto;
	height: auto%;
	opacity: 0.5;
	z-index: 2;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.fancybox-title {
    position:absolute;
    width:160px;
    left:-160px;
    bottom: 20px;
}*/

.fancybox-wrap 
{
        width: 80% !important;
}

.fancybox-outer
{
        width: 50% !important;
        height: auto !important;
        float: left;
}

.fancybox-inner
{
        width: auto !important;
        height: auto !important;
}

.fancybox-skin
{
        background-color: #FFFFFF !important;
        border-radius: 2px !important;
        color: black !important;
}

/*clearfix*/
.fancybox-skin::after {
    content: "";
    display: table;
    clear: both;
}

.fancybox-title {
        float: right;
        width: 45% !important;
        padding: 2% !important;
}

.fancybox-title iframe
{
        width: 100%;
        border-radius: 0.3em;
} 

/* Go To Club Hub */
#gotoclubhub
{
        position: fixed;
        width: 30%;
        height: auto;
        background-color: rgb(60,60,200);
        right: -40%;
        bottom: 2%;
        z-index: 5;
        border-radius: 2em;
        opacity: 0;
}

#gotoclubhub img
{
        max-width: 10%;
        margin: 0 2%;
        display: inline-block;
        vertical-align: middle;
}

#gotoclubhub p
{
        width: 50%;
        display: inline-block;
        vertical-align: middle;
}

#gotoclubhub a
{
        text-decoration: none;
        width: 100%;
        height: 80%;
        color: white;
        float: left;
}

#overdiv
{
        width: 100%;
        height: 100%;
        border-radius: 2em;
}

.disclaimer
{
        color: rgb(200,60,60);
}

.remindme
{
        position: absolute;
        right: 0;
        bottom: 0;
}

/*Sort bar stuff*/

#sorts
{

}

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: white;
  border: 1px solid rgb(0,80,200);
  color: rgb(0,80,200);
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0,150,255, 0.5);
  color: white;
}

.button:active,
.button.is-checked {
  background-color: rgb(0,102,255);
}

.button.is-checked {
  color: white;
}

.button-group
{
        margin: 0% 0% 2% 0%;
        display: inline-block;
}

.buttonbar
{
        width: 100%;
}

#menubuttons
{
        float: right;
}

#imsaundefined-link
{
        background: white;
        border: 1px solid rgb(256, 100, 0);
        color: rgb(256, 100, 0);
        display: inline-block;
}

#imsaundefined-link:hover
{
        background: rgb(256, 160, 100);
        color: white;
}

#submit-link
{
        background: white;
        border: 1px solid rgb(0, 182, 57);
        color: rgb(0, 182, 57);
        display: inline-block;
}

#submit-link:hover
{
        background: rgb(100, 220, 157);
        color: white;
}

